<!DOCTYPE html>
<html>

<head>
    <title>The Vue View</title>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- adding script tag to import the vue library -->
    <!-- defer attribute is used to make sure the page is loaded and ready to hook up to vue prior to it actually loading -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <!-- adding script tag that creates the Vue app into the HTML file -->
    <script src="./js/app.js" defer></script>

</head>


<!-- in the body updated parts using templates, to use a template {{ username }} is used to have dynamic data displayed.  -->
<!-- in the body updated parts using directives, which are like if, for, onclick, ext.  v-if is used to conditionally display elements, v-for will iterate thru an array to list items, and when a new item is added it will render to the page. v-on:click will save the imputed data to the corresponding key on the data object.  v-model will bind the values from data to the HTML form fields (like value in react) for them to show in the input box -->
<!-- v-bind takes a value from the app data objet and uses it as the value of the specified component prop. it is used as v-bind:the prop receiving the value="the value being set to the prop" -->

<body>
    <div id="app">
        <h1>THE VUE VIEW</h1>
        <div class="user">
            <div class="user-information">
                <div class="image-container">
                    <img src="https://content.codecademy.com/courses/what-is-vue/profile.jpeg" alt="profile picture">
                </div>
                <h3>{{ username }}</h3>
            </div>
            <div class="user-bio" v-if="bio">
                <em>Bio: </em> {{ bio }}
            </div>
        </div>
        <div class="tweets">
            <tweet v-for="tweet in tweets" v-bind:message="tweet" v-bind:author="username"></tweet>
        </div>
        <div class="settings">
            <h2>Settings</h2>
            <label for="username">Username</label>
            <input type="text" value="username" placeholder="Username" v-model="username" />
            <label for="bio">Bio</label>
            <textarea value="bio" placeholder="Bio" v-model="bio"></textarea>
            <label for="tweet">New Tweet</label>
            <div class="new-tweet">
                <input type="text" value="tweet" placeholder="New Tweet" v-model="newTweet" />
                <button v-on:click="tweets.push(newTweet)">Add Tweet</button>
            </div>
        </div>
    </div>
</body>

</html>